# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Android
local.properties
*.apk
*.aab
*.jks
*.keystore

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
